<div class="game-container">
	<app-hangman-game-board
		[currentWord]="(currentWord$ | async) || ''"
		[lettersToEncrypt]="(lettersToEncrypt$ | async) || []"
		[usedLetters]="(usedLetters$ | async) || {}"
		[leftGuesses]="(leftGuesses$ | async) === null ? 11 : (leftGuesses$ | async)!"
		[gameState]="(gameState$ | async) || 'FINISHED'"
		(letterUse)="onLetterUse($event)"
	></app-hangman-game-board>
	<app-hangman-sidebar
		[statistics]="statistics$ | async"
		[leftGuesses]="(leftGuesses$ | async) || 0"
		(gameReset)="onGameReset()"
	></app-hangman-sidebar>
</div>
