.game-container {
	display: grid;
	align-items: stretch;
	max-width: 1400px;
	height: fit-content;
	margin-top: 1rem;
	gap: .75rem;
	margin-inline: auto;

	@media screen and (min-width: 1000px) {
		grid-template-columns: repeat(2, 1fr);
	}
}
