<div id="sideBar">
  <div class="titleBackground titleBackgroundPos1">
    <div id="rulesText" class="titlePosition1 text primaryBlack">RULES</div>
  </div>

  <div class="RulesDescription primaryWhite text">
    Memo cards is simple memory game where your main objective is to collect
    cards with the same symbols. You can flip card by left-clicking it. If you
    flip have the same symbols they will vanish after a while. You can check
    your game time. You will see it to the right of hourglass. Number at the
    right of flipped card icon shows how many moves you've made. You can play
    start new round by left clicking reset button.
  </div>
</div>
