<div class="titleBackground titleBackgroundPos2">
	<div id="statsText" class="titlePosition2 text primaryBlack">STATISTICS</div>
</div>

<img src="../../images/MemoCards/clepsydra.svg" class="timerImage" alt="clepsydra" />
<div id="timer">{{ statistics ? statistics.startGameTime : 0 }}</div>
<img src="../../images/MemoCards/steps.svg" class="stepsImage" alt="steps" />
<div id="steps">{{ statistics ? statistics.moves : 0 }}</div>
<img src="../../images/MemoCards/playAgain.svg" class="playAgain" alt="play again" onclick="resetGame()" />

<div id="statsContainer">
	<div class="statsBackground"></div>
	<div class="statsBackground"></div>
	<div class="statsBackground"></div>
</div>

<app-memo-progress-bar [progress]="statistics ? statistics.progress : 0"></app-memo-progress-bar>
