<div class="side-bar">
	<div>
		<h1>Game Rules</h1>
		<p>
			The game starts with all the cards face down, you must flip two cards at a time. If the two flipped cards have the
			same symbol they're removed from the board, otherwise they're turned back down again. Find all pairs in order to
			win the game.
		</p>
	</div>
	<div class="side-bar__statistics">
		<h2>Statistics</h2>
		<app-memo-statistics [statistics]="statistics"></app-memo-statistics>
	</div>
	<div class="side-bar__actions">
		<button class="button button--reset" (click)="gameReset.emit()">Reset Game</button>
		<button routerLink="/" class="button button--back">Go Back</button>
	</div>
</div>
