.card {
	color: #161824;
	perspective: 1000px;
	aspect-ratio: 1;

	&__wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		transition: transform 0.8s;

		&__front,
		&__back {
			position: absolute;
			border-radius: 0.5rem;
			backface-visibility: hidden;
			inset: 0;
		}

		&__front {
			background-color: var(--color-primary);
		}

		&__back {
			display: flex;
			align-items: center;
			justify-content: center;
			transform: rotateY(180deg);
			background-color: var(--color-accent);
			font-size: 5rem;
			font-weight: 500;
		}
	}
}

.flipped {
	transform: rotateY(180deg);
}
