.card {
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-items: center;
	transform-style: preserve-3d;
	background-color: transparent;
	color: #161824;
	perspective: 1000px;
	transition: transform 0.8s;
	aspect-ratio: 1;

	&__wrapper {
		&__front,
		&__back {
			position: absolute;
			border-radius: .5rem;
			backface-visibility: hidden;
			inset: 0;
		}

		&__front {
			background-color: #00e0a8;
		}

		&__back {
			transform: rotateY(180deg);
			background-color: #1fdc58;
		}
	}
}

.flipped {
	transform: rotateY(180deg);
}
